a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
header {
    display: flex;
    justify-content: center;
    background-color: gainsboro;
    height: 80px;
}
.header-nav {
    margin-top: 20px;
}
.header-nav a {
    margin-right: 45px;
    font-size: 20px;
}
.logo {
    margin-right: 800px;
    margin-top: 10px;
}
summary {
    font-size: 25px;
}
main {
    display: flex ;
    margin-left: 100px;
    margin-right: 100px;
}
.info {
    border: 2px solid black;
    padding: 5px 10px;
    height: 20%;
}
.mediawiki {
    margin-right: 20px;
}
footer {
    background-color: gainsboro;
    height: 150px;
    border-top: 1px solid grey;
    padding: 30px 80px 30px 80px;
}
.footer-nav a{
    margin-right: 20px;
    font-size: 20px;
}
.privacy_policy {
    margin-top: 50px;
}
/* roma */
.person-life{
    text-align: left;
}
.person-life th{
    padding-right: 50px;
}